/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Shantell+Sans:wght@500;700&display=swap');

/* set 1rem = 10px */
html {
    font-size: 10px;
}

/* set zero padding and box-size for all elements */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* set variables */
:root {
    --logo-font: 'Climate Crisis', cursive;
    --main-font: 'Shantell Sans', cursive;
    --title-weight: 700;
    --sub-weight: 500;
}

/* set custom flex-row class */
.flex-row {
    display: flex;
    flex-direction: row;
}

/* set custom flex-column class */
.flex-column {
    display: flex;
    flex-direction: column;
}