/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Shantell+Sans:wght@500;700&display=swap');

/* set 1rem = 10px */
html {
    font-size: 10px;
}

/* set zero padding and box-size for all elements */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* set variables */
:root {
    --logo-font: 'Climate Crisis', cursive;
    --main-font: 'Shantell Sans', cursive;
    --title-weight: 700;
    --sub-weight: 500;
    --container-padding: 3rem 5rem;
    --logo-color: gold;
    --title-color: azure;
    --black-back: rgba(0, 0, 0, 1);
    --container-gap: 3rem;
    --title-size: 3rem;
    --main-title-size: 4rem;
    --border-radius: 1.5rem;
}

/* set custom flex-row class */
.flex-row {
    display: flex;
    flex-direction: row;
}

/* set custom flex-column class */
.flex-column {
    display: flex;
    flex-direction: column;
}

/* correct links default styles */
a {
    text-decoration: none;
    display: block;
}

/* headers main container styles */
.header {
    padding: var(--container-padding);
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: var(--black-back);
}

/* logo styles */
.logo {
    font-size: var(--main-title-size);
    font-family: var(--logo-font);
    color: var(--logo-color);
    letter-spacing: .8rem;
}

/* logo span styles */
.logo span {
    font-size: var(--title-size);
}

/* nav styles */
.nav {
    gap: var(--container-gap);
    align-items: center;
}

/* nav link styles */
.nav-link {
    font-family: var(--main-font);
    font-weight: var(--title-weight);
    font-size: var(--title-size);
    color: var(--title-color);
    transition: all .8s ease;
}

/* nav link hover eff */
.nav-link:hover {
    transform: scale(1.1);
    color: var(--logo-color);
}

/* main container styles */
.main {
    height: 80vh;
    padding: var(--container-padding);
    align-items: center;
    gap: var(--container-gap);
}

/* title styles */
.title {
    font-size: var(--main-title-size);
    font-family: var(--logo-font);
}

/* form styles */
.test {
    padding: var(--container-padding);
    width: 60vw;
    border-radius: var(--border-radius);
    background-color: var(--black-back);
    gap: var(--container-gap);
}

/* forms question styles */
.question {
    font-family: var(--main-font);
    font-weight: var(--title-weight);
    font-size: var(--title-size);
    color: var(--title-color);
    text-align: center;
}